@import '../../assets/styles/mixins.scss';

.modal {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  left: 50%;
  top: 450px;
  // top: 50%;
  transform: translate(-50%, -50%);
}