@import '../../assets/styles/zeroing.scss';
@import '../../assets/styles/mixins.scss';

body {
  color: $white;
  height: 100%
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;

  &>.main {
    flex: 1 1 auto;
  }
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

#root {
  height: 100%;
}

@media (max-width: 1280px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 730px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}