@import '../../assets/styles/mixins.scss';

.start-page {
  width: 100%;
  height: 100%;
  color: blue;

  &__header {
    display: flex;
    justify-content: center;
    height: 265px;
    background: $violet;
    // margin-bottom: 48px;
  }

  &__body {
    // flex: 0 0 auto;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
  }

  &__btns {
    // position: relative;
    display: flex;
    align-items: center;
    // bottom: 1px;
  }

  &__wrapp-button {
    &--sign-up {
      margin-right: 50px;
    }

    &--sign-in {}
  }
}